.sideVideo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img-suggested {
    margin: 0.5rem;

}

.img-suggested>img {
    width: 10rem;
    object-fit: cover;
}

@media screen and (max-width:800px) {

    .sideVideo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .img-suggested{
      margin: 0.5rem;

    }
    .img-suggested>img{
        width: 10rem;
        object-fit: cover;
    }
    
}